<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ByteSize" version="1.1.2" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net452" />
  <package id="MahApps.Metro.Resources" version="0.5.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="NLog" version="4.4.0-beta2" targetFramework="net452" />
  <package id="NLog.Config" version="4.3.0-beta1" targetFramework="net452" />
  <package id="NLog.Schema" version="4.3.0-beta1" targetFramework="net452" />
  <package id="System.Globalization" version="4.0.0" targetFramework="net452" />
  <package id="System.Resources.ResourceManager" version="4.0.0" targetFramework="net452" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net452" />
  <package id="System.Runtime.Extensions" version="4.0.0" targetFramework="net452" />
</packages>